header {
    padding: 20px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    margin: 20px auto;
    width: 80%;
}

body {
    color: rgb(159, 33, 33);
    text-align: center;
    background: linear-gradient(to bottom,#E56717, #d2a98f)
}

.card {
    background: rgba(189, 11, 11, 0.2);
    padding: 20px;
    border-radius: 15px;
    width: 80%;
    margin: 40px auto;
    align-content: center;
}

.creature-card {
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 15px;
    width: 200px;
    align-content: center;
}

.creature-card img {
    width: 400px;
    border-radius: 15px;
}

.creatures {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 0 auto; /* Centers the container horizontally */
    max-width: 80%; /* Prevents it from overflowing */
    
}